.private*
.wakatime*
linux/Mackup/.emacs*
.emacs*/*
.atom/*
linux/Mackup/.atom*
trustdb*
.npm*
hub
Backup-codes*
password.bak
linux/Mackup/.aws/credentials
linux/Mackup/.netrc
.ngrok2/**
Library/Processing/
Library/Preferences/org.vim.MacVim.plist
Library/Preferences/com.kapeli.dashdoc.plist
Library/Preferences/org.videolan*
Library/Preferences/com.github.atom.plist
Library/Preferences/com.bohemiancoding.sketch3.plist
Library/Preferences/com.amethyst.Amethyst.plist
Library/Application Support/**/*
Library/Preferences/Adobe Illustrator 19 Settings
Library/Preferences/WebStorm*
Library/Quicklook/FLIFImages.qlgenerator/Contents
rclone
.boto
phoenixMiner
.kube
*.log
typo
cloud-sql-proxy
qbittorrent
