*
!*sh
test*
!.gitignore
!extract
!.*.bash
!.bash*
!.emacs*
!.input*
!.git-pr*
!LICENSE
!.vscode*
!.git*
!.mackup*
!.zsh*
!.inputrc
!.hyper*
!.gem*
*~
.git-completion.bash
!Library/
!bash-on-linux/
!plain-text/
