[Unit]
Description=Scrub btrfs filesystems

[Service]
Type=oneshot
ExecStart=/home/vacation/bin/btrfs-scrub.sh %i
NotifyAccess=main
User=root
Group=root
Nice=19
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
IOSchedulingPriority=7
StandardOutput=null
StandardError=journal