[Unit]
Description=Inhibit sleep if firefox is playing music or other apps are running
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=%h/bin/app-inhibit-sleep pacman yay
Environment="BASH_ENV=$HOME/.bash_env"
Restart=always
Type=simple

[Install]
WantedBy=default.target
