[Unit]
Description=Fetch and save a currency value relative to USD.
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=%h/bin/forex %i
EnvironmentFile=%h/.config/t0/forex.env
Environment="BASH_ENV=$HOME/.bash_env"
Type=simple
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
