[Unit]
Description=Forex@.service timer
Wants=network-online.target
After=network.target network-online.target

[Timer]
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
