[Unit]
Description=Ollama Service
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/ollama serve
Restart=on-failure
RestartSec=10
Type=simple

[Install]
WantedBy=default.target
