[Unit]
Description=Whisper.cpp inference server (GPU)
Conflicts=whisper-server-cpu.service

[Service]
ExecStart=/usr/bin/docker \
    run \
    --name whisper-server \
    --device=/dev/kfd \
    --device=/dev/dri \
    --group-add render \
    --ipc=host \
    -v %h/Desktop/compose-files/whisper/cpp/:/models:ro \
    -p 127.0.0.1:8765:8765 \
    --rm \
    whisper
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target