[Unit]
Description=Loads x11 xkbcomp

[Service]
Type=simple
ExecStart=/usr/bin/xkbcomp %h/Desktop/interface/dotfiles/.config/keymap.xkb $DISPLAY

[Install]
WantedBy=default.target
