[Unit]
Description=Tailscale Network Interface UDP GRO Optimization
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'NETDEV=$(ip -o route get 8.8.8.8 | cut -f 5 -d " "); ethtool -K $NETDEV rx-udp-gro-forwarding on rx-gro-list off'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
