[Unit]
Description=syncs firefox profile and cache between memory and disk

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=%h/bin/firefox-sync.sh mpakm5ej.dev-edition-default
ExecStop=%h/bin/firefox-sync.sh mpakm5ej.dev-edition-default
Nice=15
StandardOutput=null
StandardError=journal