[Unit]
Description=Scrub btrfs filesystems
After=local-fs.target

[Service]
Type=oneshot
ExecStart=%h/bin/btrfs-scrub %i &
NotifyAccess=main
User=root
Group=root
Nice=19
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
IOSchedulingPriority=7
StandardOutput=journal
StandardError=journal
# 30 minutes
TimeoutSec=1800
