[Unit]
Description=Monthly Btrfs scrub on %f
After=time-set.target
Wants=time-set.target

[Timer]
OnCalendar=monthly
AccuracySec=1d
RandomizedDelaySec=1w
Persistent=true

[Install]
WantedBy=timers.target
