[Unit]
Description=btrfs snapshot system timer
After=time-set.target
Wants=time-set.target

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target