[user]
	name = Thom Ribeiro
	email = thomazella9@gmail.com
	signingkey = D600E88A0C5FE062
[core]
	compression = -1
	excludesfile = /Users/vamac/.gitignore_global
[commit]
	gpgSign = true
#	template = /Users/vamac/.stCommitMsg
[fetch]
	prune = true
[rebase]
	missingCommitsCheck = error
[pull]
	rebase = true
[help]
	autocorrect = 1
[checkout]
	defaultRemote = origin
[push]
	default = upstream
[remote]
	[origin]
		prune = true
[init]
	defaultBranch = main
